:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    
}
html
{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before, *:after
{
    box-sizing: inherit ;
}
body
{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3
{
    font-size: 1.8rem;
}
h1,h2,h3
{
    text-align: center;
}
.titulo span
{
    font-size: 2rem;
}
.contenedor
{
    max-width: 120rem;
   /*
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    esta parte de codigo nos la ahorraremos poniendo la propiedad margin
    */
    margin: 0 auto;
}
.button
{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
}
@media(min-width:768px) {
    .button{
        width: auto;
    }
    
}
.sombra{
  
    box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
}
.nav-bg
{
    background-color: var(--secundario);
}
.navegacion-principal
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.navegacion-principal a
{
    display:flex;
    justify-content: space-between;
     color:var(--blanco);
     /*Esta linea de text-decoration: none nos sirve para quitarle la linea del enlace*/
     text-decoration: none;
     font-size: 2rem;
     font-weight: 700;
     padding: 1rem;
     
}
.navegacion-principal a:hover
{
    background-color: var(--primario);
    color:var(--oscuro)
}
.hero{
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
   margin-bottom: 2rem;
    position: relative;
    border-radius: 2rem;
}
.contenido-hero
{
    position: absolute;
    /*esta parte nos sirve para poner el cuadro transparente sobre la imagen*/
    background-color: rgba(0, 0, 0, 0.7);/*sintaxis anterior*/
    background-color: rgb(0, 0, 0, 70%)/*sintaxis nueva esta no esta soportada por todos los navegadores*/;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p
{
color: var(--blanco);
}
.contenido-hero .ubicacion
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 480px/*esdta resolucion sirve para un telefono celular*/)  
{
    .navegacion-principal
{  
     display: block;
     text-align: center;
    display: flex;
    flex-direction: column;
    
    justify-content:space-between;
    align-items: center;

}
}
@media (min-width: 768px/*esdta resolucion sirve para una tablet*/)  
{
    .navegacion-principal
{
   flex-direction: row;
  
}
}
@media (min-width:768px){
    .servicios
{
    display: grid;
   /* grid-template-columns: 300px 300px;
    grid-template-rows: 200px 800px;*/
   /* grid: 200px 800px /300px 300px;*/
   /*grid-template-columns: 33.3% 33.3% 33.3%;*/
   grid-template-columns: repeat(3, 1fr);
}
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
}
.servicio p{
    line-height: 2;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
esta parte sirve para hacer responsivos los sitios web
*/
